<section id="edit-user-form">

<% if @errors %>
  <% @errors.each do |e| %>
    <%= e %>
  <% end %>
<% end %>

<p>Edit Profile for <%= current_user.name %></p>
<br/>
<%= form_for :user do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name %>
    <br/>
    <br/>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br/>
    <br/>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br/>
    <br/>
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>
    <br/>
    <br/>
    <%= f.label :street %>
    <%= f.text_field :street %>
    <br/>
    <br/>
    <%= f.label :city %>
    <%= f.text_field :city %>
    <br/>
    <br/>
    <%= f.label :state %>
    <%= f.text_field :state %>
    <br/>
    <br/>
    <%= f.label :zip %>
    <%= f.text_field :zip %>
    <br/>
    <br/>
    <div class='submit-button'>
      <%= f.submit %>
    </div>
<% end %>
</section>



