<h2 id='welcome'>Welcome, <%= current_user.name %>!</h2>

<h3>Email: <%= current_user.email %></h3>

<h4>Address: <%= current_user.street %></h4><br>
<h4>         <%= current_user.city %>,<%= current_user.state%> <%= current_user.zip%> </h4><br>

<h5><%= link_to "Edit Profile", profile_edit_path %></h5>
<h5><%= link_to "My Orders", profile_orders_path %></h5>
