<section id='user-profile'>
<p id='welcome'>Welcome, <%= current_user.name %>!</p>
<br/>
<p>Email: <%= current_user.email %></p>
<br/>
<p>Address: <%= current_user.street %></p>
<p>         <%= current_user.city %>, <%= current_user.state%> <%= current_user.zip%> </p><br>

<p><%= link_to "Edit Profile", profile_edit_path %></p>
<br/>
<p><%= link_to "My Orders", profile_orders_path %></p>
</section>


