<h1>Merchant Dashboard</h1>

<h2>Name: <%= @merchant.name %></h2>
<h3>Address: <%= @merchant.street %></h3>
<h3>        <%= @merchant.city %>, <%= @merchant.state  %> <%= @merchant.zip %></h3>
<h3>Email: <%= @merchant.email %></h3>
