<section id='admin-merchants-index'>
<br><h1>Admin: Merchants Index</h1><br><br>

<% @merchants.each do |merchant| %>
<div id="merchant-<%= merchant.id %>">
  <% if current_admin? %>
    <p>Name: <%= link_to merchant.name, admin_merchant_path(merchant) %></p>
  <% else %>
    <p>Name: <%= merchant.name %></p>
  <% end %>

  <p>Location: <%= merchant.city %>, <%= merchant.state %></p>
  <p>Registered: <%= merchant.created_at.strftime("%b %d, %Y") %></p>

  <% if merchant.enabled == true && current_admin? %>
    <%= button_to "Disable", admin_merchant_path(merchant, enabled: false), method: :patch %>
  <% elsif current_admin? && merchant.enabled == false %>
    <%= button_to "Enable", admin_merchant_path(merchant, enabled: true), method: :patch %>
  <% end %><br>
</div>
<% end %>
</section>