<h2>Merchant Item Edit Form</h2>

<%= form_for [:dashboard, @item] do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :description %>
  <%= f.text_area :description %>
</p>
<p>
  <%= f.label :image, "Image URL" %>
  <%= f.text_area :image %>
</p>
<p>
  <%= f.label :item_price, "Item Price $" %>
  <%= f.number_field :item_price %>
</p>
<p>
  <%= f.label :stock, "Inventory" %>
  <%= f.number_field :stock %>
</p>
  <%= f.submit %>
<% end %>
