<h1>Merchant Item Index</h1>

<%= link_to "Add New Item", new_dashboard_item_path %>

<h3>My Items</h3>
  <% @items.each do |item| %>
<div id="item-<%= item.id %>">

  <a class="thumbnail">
    <img src="<%= item.image %>" alt=" beer pic " width="50">
  </a>

  <p>ID: <%= item.id %> - <%= item.name %></p>
  <p>Price: <%= item.item_price %></p>
  <p>Stock: <%= item.stock %></p>
  <p><%= link_to "Edit", dashboard_item_path(item), method: :patch %></p>

  <% if item.never_ordered? %>
    <p><%= link_to "Delete", dashboard_item_path(item), method: :delete %></p>
  <% end %>

  <% if item.enabled? %>
    <p><%= link_to "Disable", dashboard_item_path(item), method: :put %></p></br>
    <% else %>
    <p><%= link_to "Enable", dashboard_item_path(item), method: :put %></p></br>
  <% end %>

</div>
  <% end %>
