<section id='admin-merchants-index'>

<h1>Merchants Index:</h1><br>

<section class="statistics">
  <p>Top merchants by revenue</p>
  <div id="top-three-rev">
    <ol>
      <% @merchants_top_rev.each do |merchant| %>
      <li> <%= merchant.name %> - <%= number_to_currency(merchant.total_revenue) %></li>
      <% end %><br>
    </ol>
  </div>

  <div id="top-three-fastest">
    <p>Top 3 fastest merchants</p>
    <ol>
      <% @merchants_fastest.each do |merchant| %>
      <li> <%= merchant.name %> - <%= merchant.avg_fulfill_time.to_i %> days </li>
      <% end %><br>
    </ol>
  </div>

  <div id="bot-three-fastest">
    <p>Slowest 3 merchants</p>
    <ol>
      <% @merchants_slowest.each do |merchant| %>
      <li> <%= merchant.name %> - <%= merchant.avg_fulfill_time.to_i %> days</li>
      <% end %><br>
    </ol>
  </div>

  <div id="top-three-cities">
    <p>Top 3 ordering cities</p>
    <ol>
      <% @top_cities.each do |city| %>
      <li> <%= city.city %> - <%= city.total_count %></li>
      <% end %><br>
    </ol>
  </div>

  <div id="top-three-states">
    <p>Top 3 ordering states</p>
    <ol>
      <% @top_states.each do |state| %>
      <li> <%= state.state %> - <%= state.total_count %></li>
      <% end %><br>
    </ol>
  </div>

  <div id="top-three-order-quantity">
    <p>Largest Orders</p>
    <ol>
      <% @big_orders.each do |order| %>
      <li>Order number: <%= order.id %> - <%= order.total_quantity %></li>
      <% end %><br><br>
    </ol>
  </div>
</section>

All Merchants: <br><br>
<% @merchants.each do |merchant| %>
<div id="merchant-<%= merchant.id %>">
  <% if current_admin? %>
    <p>Name: <%= link_to merchant.name, admin_merchant_path(merchant) %></p>
  <% else %>
    <p>Name: <%= merchant.name %></p>
  <% end %>

  <p>Location: <%= merchant.city %>, <%= merchant.state %></h3>
  <h4>Registered: <%= merchant.created_at.strftime("%b %d, %Y") %></p>

  <% if merchant.enabled == true && current_admin? %>
    <%= button_to "Disable", admin_merchant_path(merchant, enabled: false), method: :patch %>
  <% elsif current_admin? && merchant.enabled == false %>
    <%= button_to "Enable", admin_merchant_path(merchant, enabled: true), method: :patch %>
  <% end %><br>
</div>
<% end %>
</section>