<h1>Merchants Index</h1>

<section class="statistics">
  <h2>Top merchants by revenue</h2>
  <div id="top-three-rev">
    <ol>
      <% @merchants_top_rev.each do |merchant| %>
      <li> <%= merchant.name %> - <%= number_to_currency(merchant.total_revenue) %></li>
      <% end %>
    </ol>
  </div>

  <div id="top-three-fastest">
    <h2>Top 3 fastest merchants</h2>
    <ol>
      <% @merchants_fastest.each do |merchant| %>
      <li> <%= merchant.name %> - <%= merchant.avg_fulfill_time.to_i %> days </li>
      <% end %>
    </ol>
  </div>

  <div id="bot-three-fastest">
    <h2>Slowest 3 merchants</h2>
    <ol>
      <% @merchants_slowest.each do |merchant| %>
      <li> <%= merchant.name %> - <%= merchant.avg_fulfill_time.to_i %> days</li>
      <% end %>
    </ol>
  </div>

  <div id="top-three-cities">
    <h2>Top 3 ordering cities</h2>
    <ol>
      <% @top_cities.each do |city| %>
      <li> <%= city.city %> - <%= city.total_count %></li>
      <% end %>
    </ol>
  </div>

  <div id="top-three-order-quantity">
    <h2>Largest Orders</h2>
    <ol>
      <% @big_orders.each do |order| %>
      <li>Order number: <%= order.id %> - <%= order.total_quantity %></li>
      <% end %>
    </ol>
  </div>

</section>



<% @merchants.each do |merchant| %>
<div id="merchant-<%= merchant.id %>">
  <% if current_admin? %>
    <h2>Name: <%= link_to merchant.name, admin_merchant_path(merchant) %></h2>
  <% else %>
    <h2>Name: <%= merchant.name %></h2>
  <% end %>

  <h3>Location: <%= merchant.city %>, <%= merchant.state %></h3>
  <h4>Registered: <%= merchant.created_at.strftime("%b %d, %Y") %></h4>

  <% if merchant.enabled == true %>
    <%= button_to "Disable", admin_merchant_path(merchant), method: :patch %>
  <% else %>
    <%= button_to "Enable", admin_merchant_path(merchant), method: :patch %>
  <% end %>
</div>
<% end %>
