<h1>Beer Index Page</h1>

<% @items.each do |beer| %>
<section id='item-<%= beer.id %>'>
  <div class="thumbnail">
    <%= beer.image %>
  </div>
  <p>
    Name: <%= beer.name %><br/>
    Description: <%= beer.description %><br/>
    Merchant: <%= beer.user.name %>
    Stock: <%= beer.stock %><br/>
    Price: <%= beer.item_price %>
  </p>
</section>
<% end %>
