<br/>
<br/>
<br/>
<h1>Beer Index</h1>

<section class="popular_items_stats">
  <h1>Top 5 Most Popular Items:</h1>
  <ul>
    <% @top_five_stats.each do |stat| %>
    <li><%= stat %></li>
    <% end %>
  </ul>
</section>

<% @items.each do |beer| %>
<section id='item-<%= beer.id %>'>
  <a class="thumbnail" href="<%= item_path(beer) %>">
    <img src="<%= beer.image %>"
    alt=" beer pic " width="200">
  </a>
  <p>
    Name: <%= link_to beer.name, item_path(beer) %><br/>
    Description: <%= beer.description %><br/>
    Merchant: <%= beer.user.name %><br/>
    Stock: <%= beer.stock %><br/>
    Price: <%= beer.item_price %>
  </p>
</section>
<% end %>
