<!DOCTYPE html>
<html>
  <head>
    <title>DuckDuckBooze</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class='home'>
  <br>
  <br>
  <br>
  <br>
    <section id='nav-bar'>
      <ul id='nav-links'>

        <li class='nav-link', id='shop-link'><%= link_to "Home", root_path%></li>
        <li class='nav-link', id='shop-link'><%= link_to "Shop Beers", items_path %></li>
        <li class='nav-link', id='merchants-link'><%= link_to "Merchants", merchants_path %></li>

        <% if current_user.nil? %>
        <li class='nav-link' style='float:right'><%= link_to "Login", login_path %></li>
        <li class='nav-link' style='float:right'><%= link_to "Register", new_user_path %></li>
        <li class='nav-link' style='float:right'><%= link_to "Cart", cart_path %></li>

        <% elsif registered_user? %>
        <li class='nav-link' style='float:right'><%= link_to "Log Out", logout_path %></li>
        <li class='nav-link' style='float:right'><%= link_to "Profile", profile_path %></li>
        <li class='nav-link' style='float:right'><%= link_to "Cart", cart_path %></li>
        <li class='nav-link'>Logged in as <%= current_user.name %></li>

        <% elsif current_merchant? %>
        <li class='nav-link' style='float:right'><%= link_to "Log Out", logout_path %></li>
        <li class='nav-link' style='float:right'><%= link_to "Dashboard", dashboard_path %></li>
         <li class='nav-link'>Logged in as Merchant</li>

        <% elsif current_admin? %>
        <li class='nav-link' style='float:right'><%= link_to "Log Out", logout_path %></li>
        <li class='nav-link' style='float:right'><%= link_to "Dashboard", admin_dashboard_path %></li>
        <li class='nav-link' sytle='float:right'><%= link_to "Users", admin_users_path %></li>
         <li class='nav-link'>Logged in as Admin</li>
        <% end %>
      </ul>
    </section>

    <% flash.each do |type, message| %>
      <%= content_tag :div, message, class: type %>
    <% end %>

    <%= yield %>
  </body>
</html>
