<!DOCTYPE html>
<html>
  <head>
    <title>DuckDuckBooze</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class='home'>

    <%= flash.notice %>
    <section id='nav-bar'>
      <ul id='nav'>
        <li id='shop-link'><%= link_to "Home", root_path %></li>
        <li id='shop-link'><%= link_to "Shop Beers", items_path %></li>
        <li id='merchants-link'><%= link_to "Merchants", merchants_users_path %></li>
        <li id='login-link'><%= link_to "Login", login_path %></li>
        <li id='register-link'><%= link_to "Register", new_user_path %></li> 
        <li id='cart-link' style='float:right'><%= link_to "Cart", cart_path %></li> 
      </ul> 
        <li id='register-link'><%= link_to "Register", new_user_path %></li>
        <li id='cart-nav' style='float:right'><%= link_to "Cart", cart_path %></li>

    </section>
    <%= yield %>
  </body>
</html>
